/* index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(141, 208, 196);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.recipe-details {
  background-color: rgb(24, 228, 13);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style the navigation bar */
nav {
  background-color: rgb(51, 76, 200); /* Background color for the navigation bar */
  color: rgb(206, 211, 208); /* Text color */
  padding: 10px; /* Padding around the navigation links */
}

/* Style the navigation links */
.nav-links {
  list-style: none; /* Remove bullet points from the list */
  padding: 0; /* Remove padding from the list */
  display: flex; /* Display links in a horizontal row */
}

.nav-links li {
  margin-right: 20px; /* Spacing between links */
}

.nav-links a {
  text-decoration: none; /* Remove underlines from links */
  color: rgb(173, 7, 7); /* Link text color */
}

/* Style the links when hovered */
.nav-links a:hover {
  text-decoration: underline; /* Underline the link text on hover */
}