.resume-container {
    background-color: rgba(189, 251, 4, 0.5);
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .section-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  ul {
    padding-left: 20px;
  }